[settings]
interval = 10

[alert]
notify = true
sender = "Overseer <overseer@example.com>"
emails = [ "guillaume@example.com" ]
attempts = 5
destination = "smtp.gmail.com:25"

[smtp]
username = "guillaume.lefranc@example.com"
password = "qwertyuiop"
server = "smtp.gmail.com"

[servers]
  [servers.db1]
  host = "172.16.1.1"
  port = "3306"
  user = "root"
  pass = "admin"

  [servers.db2]
  host = "172.16.1.2"
  user = "root"
  pass = "admin"

  [servers.db3]
  host = "172.16.1.3"
  user = "root"
  pass = "admin"

[[monitor]]
name = "Threads running"
expression = "threads_connected > 32"
enabled = true
